/* Renat Abazov
Style sheet for personal branding website */

.header {
  font-family: Helvetica;
  height: 125px;
  padding: 10px;
  background: #e76f51;
  color: white;
  font-size: 30px;
  margin: 4px 5%;
}
.title{
  float:left;
}
.contents{
  font-family: Helvetica;
  color: #6d6875;
  background-color: #e9cfbe;
  height: 800px;
  margin: 0 5%;
  padding: 20px;
}
